/* ----- Estilos generales ----- */
@import url('https://fonts.cdnfonts.com/css/hastro');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-orange{
    background-color: rgb(255, 174, 74);
}
.gap-10{
    gap: 10vw;
}
.text-disabled{
    font-weight: 100;
    color: rgb(77, 77, 77)!important;
}
.text-disabled:hover{
    background-color: transparent!important;
}
.text-active{
    font-weight: 500;
    color: rgb(235, 235, 235);
}
/* ----- Header ----- */
#header-image{
    width: 100%;
    height: 35vh;
    background-image: url("../assets/bg-header.jpg");
    background-size: 100vw 70vh;
    background-position-y: 10%;
}
#header-image > h1{
    color: white;
    position: absolute;
    top: 13vh;
    left: 10vw;
    font-family: 'Hastro', sans-serif;
    font-size: 64px;
}
#container-navlogo > a{
    display: flex;
    gap: 0.5vw;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
#container-navlogo > a:link{
    text-decoration: none;
}
#container-navlogo p{
    margin-bottom: 0;
    padding-top: 8px;
}
#contenedor-textmenu .nav-link{
    color: rgb(255, 255, 255);
    border-radius: 8px;
}
#contenedor-textmenu .nav-link:hover{
    background-color: rgb(221, 151, 65);
}
#contenedor-svglogo > svg{
    border-radius: 8px;
    transition: all 0.45s;
}
#contenedor-svglogo > svg:hover{
    cursor: pointer;
    background-color: rgb(207, 141, 59);
}
.offcanvas-body{
    padding-top: 18vh;
    padding-right: 6vw;
    background-image: url("../assets/food-bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(231, 143, 36);
    font-weight: 600;
    font-size: 18px;
}
#offcanvas-buttons{
    margin-left: 0.25vw;
}
.btn-98{
    background-image: none;
    margin-bottom: 1vh;
    border-top: none;
    border-right: none;
    border-left: none;
    color: rgb(231, 143, 36);
    border-bottom: 3px solid rgb(255, 174, 74);
}
.btn-98 {
    --thickness: 3px;
    box-sizing: border-box;
    background: none;
    -webkit-clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% + var(--thickness)),
      0 calc(100% + var(--thickness))
    );
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% + var(--thickness)),
      0 calc(100% + var(--thickness))
    );
    display: block;
    font-weight: 900;
    padding: 2px 0;
    position: relative;
    text-transform: uppercase;
  }
  .btn-98:before {
    background: white;
    bottom: calc(var(--thickness) * -1);
    content: "";
    display: block;
    height: var(--thickness);
    position: absolute;
    width: 100%;
  }
  .btn-98:hover:before {
    -webkit-animation: slide 0.5s ease;
    animation: slide 0.5s ease;
  }
@keyframes slide {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100%);
    }
    51% {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }