/* ----- Estilos generales ----- */
@import url('https://fonts.cdnfonts.com/css/hastro');
@import url('https://fonts.cdnfonts.com/css/molendra');
@import url('https://fonts.cdnfonts.com/css/pacifico');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-orange{
    background-color: rgb(255, 160, 44);
}
.gap-10{
    gap: 10vw;
}
.text-disabled{
    font-weight: 100;
    color: rgb(77, 77, 77)!important;
}
.text-disabled:hover{
    background-color: transparent!important;
}
.text-active{
    font-weight: 500;
    color: rgb(235, 235, 235);
}
.text-molendra{
    font-family: 'Molendra', sans-serif;
}
.text-pacifico{
    font-family: 'Pacifico', sans-serif;
}
/* ----- Header ----- */
#header-image{
    width: 100%;
    height: 300px;
    background-image: url("../assets/bg-header.jpg");
    background-size: 100vw 600px;
    background-position-y: 10%;
    background-repeat: no-repeat;
}
#header-image > h1{
    color: white;
    position: absolute;
    top: 115px;
    left: 125px;
    font-family: 'Hastro', sans-serif;
    font-size: 64px;
}
#container-navlogo > a{
    display: flex;
    gap: 0.5vw;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
#container-navlogo > a:link{
    text-decoration: none;
}
#container-navlogo p{
    margin-bottom: 0;
    padding-top: 8px;
}
#contenedor-textmenu .nav-link{
    color: rgb(255, 255, 255);
    border-radius: 8px;
}
#contenedor-textmenu .nav-link:hover,
#container-navlogo p:hover{
    color: #272727;
}
#contenedor-svglogo > svg,
#container-navlogo p{
    border-radius: 8px;
    transition: all 0.45s;
}
#contenedor-svglogo > svg:hover{
    cursor: pointer;
    background-color: rgb(221, 139, 38);
    stroke: black;
}
.offcanvas-body{
    padding-top: 180px;
    padding-right: 6vw;
    background-image: url("../assets/food-bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(231, 143, 36);
    font-weight: 600;
    font-size: 18px;
}
.offcanvas-body form {
    margin-bottom: 18px;
}
#offcanvas-buttons{
    margin-left: 0.25vw;
}
.btn-98 {
    background-image: none;
    margin-bottom: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    color: rgb(231, 143, 36);
    border-bottom: 3px solid rgb(255, 174, 74);
    --thickness: 3px;
    box-sizing: border-box;
    background: none;
    -webkit-clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% + var(--thickness)),
        0 calc(100% + var(--thickness))
    );
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% + var(--thickness)),
        0 calc(100% + var(--thickness))
    );
    display: block;
    font-weight: 900;
    padding: 2px 0;
    position: relative;
    text-transform: uppercase;
}
.btn-98:before {
    background: white;
    bottom: calc(var(--thickness) * -1);
    content: "";
    display: block;
    height: var(--thickness);
    position: absolute;
    width: 100%;
}
.btn-98:hover:before {
    -webkit-animation: slide 0.5s ease;
    animation: slide 0.5s ease;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100%);
    }
    51% {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
/* ----- Main ----- */
body{
    background-image: url("../assets/background-repeat.jpg");
    background-repeat: repeat;
    background-size: 650px;
}
#imagen-principal{
    display: flex;
    margin: 35px 0px 35px 0px;
    justify-content: center;
}
#imagen-principal > img{
    width: 65vw;
}
#main-carrousel > h2{
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 55px;
    font-style: italic;
    color: #DA2B1F;
}
#contenedor-carrousel{
    margin: 35px 0px 35px 0px;
}
.carousel-item > img{
    filter: brightness(45%);
}
.comida-veg,
.comida-ita,
.comida-arg,
.comida-fran{
    border-radius: 5px;
    height: 500px;
}
#contenedor-quecocinar-titulo{
    gap: 20px;
}
#main-quecocinar-cards{
    margin: 25px 0px 25px 0px;
    display: flex;
    justify-content: center;
}
#main-quecocinar-cards > div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 60vw;
}
#main-quecocinar-cards .card{
    width: 13vw;
    transition: all 0.35s;
}
#main-quecocinar-cards .card:hover{
    cursor: pointer;
    transform: scale(1.03);
}
#main-quecocinar-cards .card-img-top{
    width: 13vw;
    height: 200px;
}
#main-quecocinar-cards .card > .card-body{
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
}
#main-quecocinar-cards .card > .card-body h5{
    font-size: 15px;
}